In [1]:
import pandas as pd

In [4]:
data=pd.read_csv(r"C:\Users\vivek\Downloads\gemstone.csv")

In [5]:
data.head(2)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [6]:
data["color"].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [8]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
117092,117092,2.04,Premium,I,VS2,62.5,61.0,8.08,8.03,5.04,16857
37053,37053,0.71,Premium,F,SI1,60.8,59.0,5.74,5.72,3.48,2391
26456,26456,1.03,Premium,F,VS1,62.4,59.0,6.47,6.43,4.02,7257
44145,44145,1.52,Ideal,F,VS2,62.6,55.0,7.39,7.32,4.60,13653
174310,174310,0.31,Ideal,E,VVS1,61.4,55.0,4.37,4.40,2.69,958
167372,167372,1.01,Ideal,H,SI2,61.5,57.0,6.49,6.39,3.96,3949
147909,147909,1.59,Ideal,F,VS1,60.3,55.0,7.59,7.62,4.59,18515
183097,183097,0.30,Ideal,I,SI1,62.1,55.0,4.31,4.34,2.69,445
63784,63784,0.41,Very Good,G,VVS2,60.3,57.0,4.86,4.81,2.92,1193
58067,58067,0.30,Ideal,G,VS2,62.9,57.0,4.27,4.25,2.68,675

In [9]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [10]:
data.size

2129303